<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />

    <title></title>
    <!-- Icons -->
    <link rel="shortcut icon" href="<%= context.config.publicPath %>favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= context.config.publicPath %>favicons/android-icon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= context.config.publicPath %>favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="https://fonts.lug.ustc.edu.cn/css2?family=Inter:wght@300;400;500;600;700&display=swap">
  </head>
  <body>

  </body>
</html>
